.row-header {
    
    margin: 1px;
    padding: 0px;
}

.row-content {
    
    margin: 0px auto;
    padding: 50px 50px 50px 0px;
    border: 0px ridge;
    min-height: 400px;

}

.footer {
    
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}


/*.cr1col1 {*/

/*    background: green;*/
/*}*/

/*.cr1col2 {*/

/*    background: yellow;*/

/*}*/

/*.cr2col1 {*/
/*    background: magenta;*/

/*}*/

/*.cr2col2 {*/
/*    background: pink;*/
/*}*/

/*.cr3col1 {*/
/*    background: red;*/
/*}*/

/*.cr3col2 {*/
/*    background: violet;*/
/*}*/


.jumbotron {
    
    padding: 70px 30px 70px 30px;
    margin:0px auto;
    background:#9575CD;
    color: white;
}

.address {
    
    font-size:80%;
    margin:0px;
    color:black;
    
}

body {
 
 padding: 50px 0px 0px 0px;
 z-index: 0;
    
}

.navbar-inverse {
    
    background-color: #512DA8;
    
}

.bcrumb {
    
    padding-top: 20px;
}

.navbar-brand>img {
  width: 50%;
}
